---
# .github/workflows/release.yaml

on: release
name: Build Release
jobs:
  lint:
    name: Lint files
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v4
        with:
          go-version: '^1.16.3'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.7.0
        with:
          version: latest
  releases-matrix:
    name: Release Matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: ["386", amd64, arm64]
        exclude:
          - goarch: "386"
            goos: windows
          - goarch: "386"
            goos: darwin
          - goarch: arm64
            goos: windows
          - goarch: arm64
            goos: darwin

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      # - uses: actions/setup-go@v4
      #   with:
      #     go-version: '^1.16.3'

      - name: Set APP_VERSION env
        run: echo APP_VERSION=$(echo ${GITHUB_REF} | rev | cut -d'/' -f 1 | rev ) >> ${GITHUB_ENV}

      # - name: Environment Printer
      #   uses: managedkaos/print-env@v1.0

      - uses: wangyoucao577/go-release-action@v1.41
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          # project_path: "${{ env.CMD_PATH }}"
          build_flags: -v
